.option-list--active {

}

.option-list__option {
    display: flex;
    padding: 20px 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: steelblue;
    border: none;
    width: 100%;
    cursor: pointer;

}

.option-list__option-name {
    flex: 1;
    text-align: left;
}

.option-list__option:focus {
    outline: none;
}


.option-list__button-wrapper {
    display: flex;
}

.option-list__button {
    flex: 1;
    display: block;
    padding: 20px 10px;
    background-color: lightsteelblue;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.option-list__button + .option-list__button {
    margin-left: 15px;
}
